<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-12">

      <div class="card border rounded shadow">
        <h5 class="card-header">Add Account</h5>
        <div class="card-body">
          <form [formGroup]="addForm" (ngSubmit)="sendForm()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="email" class="form-control" formControlName="Username" id="username" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" formControlName="Password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
